{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Goal Getter</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Cabin&family=EB+Garamond&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/style.css' %}">

</head>

<body>
    <header class="navbar-fixed">
        <div class="nav-container">
            <nav>
                <div>
                    <a href="{% url 'home' %}"><img width='60' src="{% static 'images/gg_logo.png' %}" alt="Logo" /></a>



                </div>
                <div>
                    <a href="{% url 'about' %}">About</a>
                    {% if user.is_authenticated %}
                    <a href="{% url 'index' %}">View All My Courses</a>
                    <a href="{% url 'course_create' %}">Add a Course</a>
                    <a href="{% url 'logout' %}">Log Out</a>
                    {% endif %}
                </div>
            </nav>
        </div>

        </nav>




    </header>
    <main>
        {% block content %}
        {% endblock %}
    </main>
    <footer class="page-footer amber">
        <div class="cyan-text text-darken-4" class="right">All Rights Reserved, &copy; 2022 Goal Getter &nbsp;</div>
    </footer>
</body>

</html>