body {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
    background-image: url('/static/images/gg_background.png');
    background-position: bottom;
    background-size: 120%;
    background-repeat: no-repeat;
    width: 100%;
    background-color: #B9FAF2;

}

main {
    flex: 1 0 auto;
    width: 50%;
    background-color: white;
    margin: 0 auto;
    padding: 20px;

}

footer.page-footer {
    padding-top: 0;
    text-align: right;
}

nav li {
    color: rgb(26, 108, 108);
    font-family: 'Bebas Neue', cursive;
}

nav {
    box-shadow: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #ffc107;
}

nav img {
    margin-top: 16px;
    margin-left: 12px;
}

nav a {
    font-family: 'Bebas Neue', cursive;
    font-size: 20px;
    padding: 12px;
}

h1 {
    font-family: 'Bebas Neue', cursive;
    color: rgb(26, 108, 108);
    text-align: center;
}

.card {
    height: 150px;
}

.about-content {
    font-family: 'Cabin', sans-serif;
    font-size: 19px;
    padding: 0px 75px;

}

.about-img {
    text-align: center;
}

.striped a {
    padding: 8px;
    color: rgb(26, 108, 108);
}