{% extends 'base.html' %}
{% block content %}
<div class="about-img"> {% load static %} <img width="200" src="{% static 'images/gg_logo.png' %}" alt="logo" /> </div>
<h1>About Goal Getter</h1>
<div class="about-content">
    <p>For most college students, "busy" does not even begin to describe how frantic their lives can become, which is
        why
        they need <em>Goal Getter</em>. Students should create an organizational plan for deadlines and tasks to avoid
        experiencing
        stress.</p>
    <p>
        Generally, when a student is better prepared and can handle their time accordingly, it is much easier to
        focus their energy and attention to more important matters... like their studies! Thankfully, we have created a
        way
        to prioritze their commitments all in one location!
    </p>

    <p><em>Goal Getter was proudly created by Monique Falloon, Nancy Martinez, Shamique Etienne, and Rosa Flores.</em>
    </p>
</div>
{% endblock %}