{% extends 'base.html' %}


{% block content %}
<h1>{{ course.name }} detail page!</h1>


<div class="row">
  <div class="col s6">
    <div class="card">
      <div class="card-content">
        <span class="card-title">{{ course.name }}</span>
        <p>Subject: {{ course.subject }}</p>
      </div>
      <div class="card-action">
        <a href="">Edit</a>
        <a href="">Delete</a>
      </div>
    </div>
  </div>
</div>
<form method="post" action="{% url 'add_assignment' course.id %}">
  {% csrf_token %}
  {{ assignment_form.as_p }}
  <input type="submit" class="btn" value="Add Assignment">
</form>
<div class="col s6">
  <table class="striped">
    <thead>
      <tr>
        <th>Due Date</th>
        <th>Assignment</th>
        <th>Category</th>
        <th>To Do</th> 
      </tr>
    </thead>
    <tbody>
      {% for assignment in course.assignment_set.all %}
      <tr>
        <td>{{assignment.date}}</td>
        <td>{{assignment.name}}</td>
        <td>{{assignment.get_category_display}}</td>
        <td>{{assignment.todo}}</td>
        <td>
          <form action="{% url 'delete_assignment' course.id assignment.id %}" method="post">
            {% csrf_token %}
            <button type="submit" class="btn">Delete</button>
          </form>
        </td>
      </tr>
      {% endfor %}
    </tbody>
  </table>
</div>

  <script>
    const dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true
    });
    const selectEl = document.getElementById('id_category');
    M.FormSelect.init(selectEl);
  </script>
  {% endblock %}