{% extends 'base.html' %}


{% block content %}
<div class="detail_container">
    <h1 class="detail-title" style="text-align: center; padding-top: 10px; padding-bottom: 10px;">Edit Assignment</h1>
    <div class="detail-content">
    <form action="" method="POST">
        {% csrf_token %}
        {{ form.as_p }}
        <div class="add-submit">
        <input type="submit" class="button" value="Update">
        </div>
    </form>
    </div>
</div>

    <script>
        const dateEl = document.getElementById('id_date');
        M.Datepicker.init(dateEl, {
          format: 'yyyy-mm-dd',
          defaultDate: new Date(),
          setDefaultDate: true,
          autoClose: true
        });
        const selectEl = document.getElementById('id_category');
        M.FormSelect.init(selectEl);
      </script>
{% endblock content %}
